#Body-list h1{
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
    font-weight: bold;
    padding: 0 2rem;
}

#List-Movie {
    position: relative;
    display: flex;
    justify-self: center;
    width: 100%;
    padding: 1rem 2rem;
}

#List-Movie h2{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#List-Movie button {
    position: absolute;
    top: 15%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    z-index: 10;
    width: 3rem;
    height: 6rem;
    cursor: pointer;
}
#List-Movie button:hover {
    background-color: rgb(37, 34, 11);
}
#List-Movie button:first-child {
    left: 0;
}

#List-Movie button:last-child {
    right: 0;
}

@media (max-width: 768px) {
    #List-Movie button {
        display: none;
    }
}