#banner-movie{
    position: relative;
    width: 100%;
    height: 70vh;
}
#banner-movie img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    filter: brightness(0.5);
}
#movie-info {
    position: absolute;
    left: 2%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 0;
    padding: 2%;
}
#top-card {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}
#top-card h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-weight: bold;
    gap: 0.5rem;
    font-size: 1.2rem;
    color: #fbbf24;
    background-color: rgba(251, 191, 36, 0.5);
    width: calc(7vw + 30px);
    height: calc(2vh + 30px);
    stroke-width: 50px;
    border: 1px solid #fbbf24;
}

#top-card h6 {
    font-size: 0.95rem;
    color: #e5e7eb;
}

#movie-info h1 {
    font-size: 3rem;
    font-weight: bold;
}
#movie-info h2 {
    font-size: 1.2rem;
    width: 40%;
    color: #e5e7eb;
}

#banner-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
}

#banner-buttons button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #fbbf24;
    color: black;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}

#banner-buttons button:last-child{
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid gray;
    color: white;
}

#banner-buttons button:last-child:hover{
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
}

#banner-buttons button:hover{
    background-color: #fff;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    #movie-info h1 {
        font-size: 2rem;
    }
    #movie-info h2 {
        font-size: 1rem;
        width: 100%;
    }
    #top-card h5 {
        font-size: 1rem;
        width: calc(20vw + 30px);
        height: calc(2vh + 30px);
    }
    #banner-movie {
        width: 100%;
        height: 50vh;
    }
    #banner-movie img {
        height: 50vh;
    }
    #banner-buttons{
        width: 100%;
    }
    #banner-buttons button {
        font-size: 1rem;
        padding: 0.5rem;
    }
}