Logs
/logs
/.log
**/npm-debug.log
/yarn-debug.log*
/yarn-error.log*

Dependências e Builds (O **/ garante que ignore dentro de 'client' e do futuro 'server')
/node_modules
/dist
/dist-ssr
/.local

Segurança (Essencial para o seu futuro Backend em Node)
/.env
/.env.

Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
.ntvs
*.njsproj
*.sln
*.sw?